# Build dir
build/

# Nix build output
result

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# GDB
.gdb_history

# direnv temporary files
.direnv/

# Dotenv files
.env
